<nav class="nav-bar">
  <a routerLink="/service" routerLinkActive="active">Service</a>
  <a routerLink="/data-binding" routerLinkActive="active">Data Binding</a>
  <a routerLink="/rxjs" routerLinkActive="active">RxJS</a>
  <a routerLink="/subject" routerLinkActive="active">Subject</a>
  <a routerLink="/template-form" routerLinkActive="active">Template-driven Form</a>
  <a routerLink="/reactive-form" routerLinkActive="active">Reactive Form</a>
  <a routerLink="/state-rxjs" routerLinkActive="active">State (RxJS)</a>
  <a routerLink="/parent" routerLinkActive="active">Parent/Child</a>
  <a routerLink="/change-detection" routerLinkActive="active">Change Detection</a>
  <a routerLink="/ngrx" routerLinkActive="active">NGRX</a>
  <a routerLink="/signals" routerLinkActive="active">Signals</a>
</nav>

<main>
  <router-outlet></router-outlet>
</main>
